
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../font/MyriadPro-Regular.eot');
    src: url('../font/MyriadPro-Regular.woff') format('woff'),
        url('../font/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.swiper-button-next{
    right: auto;
    left: -32px;
    top: 44px;
}
.swiper-button-prev{
    left: -33px;
    top: 93px
}
.range-slider{
    position: relative;
    z-index: 999;
}
.range-slider-track::before{
    display:none;
}
.no-wrapp {
    white-space: nowrap;
}

.txt-line {
    position: relative;
}

.txt-line::before {
    content: '';
    position: absolute;
    top: 18px;
    width: 115px;
    height: 2px;
    background: #000;
}
.range-slider-track .dragger{
    width: 15px;
    height: 15px;
    background-color: #e60028;
    top: 8px;
    border-radius: 50%;
}
.range-slider-track .dragger::before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    background-image: url(../img/thumb-left-arrow.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    right: 10px;
    top: -1px;
}
.range-slider-track .dragger::after{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    background-image: url(../img/thumb-right-arrow.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 12.6px;
    top: -20px;
}
.rangeslider--horizontal{
    box-shadow: none;
    // background: transparent;
}
.rangeslider__fill{
    // background: transparent;
    box-shadow: none;
}
.rangeslider--horizontal .rangeslider__handle{
    // top: 10px;
}
body {
    font-family: 'MyriadPro';
    #main-container {
        max-width: 520px;
        padding: 30px 20px;
        margin: 0 auto;
        height: 100%;

        .header {
            .logo-img {
                width: 220px;
            }
        }

        .worker-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            .worker-photo {
                width: 30%;
                max-width: 218px;

                img {
                    width: 100%;
                }
            }

            .worker-info {
                margin-left: 20px;
                width: calc(70% - 20px);
                color: #000;
                position: relative;

                .worker-question {
                    font-size: 16px;
                }

                .box {
                    position: absolute;
                    bottom: 0;

                    .worker-name {
                        color: #333333;
                        font-size: 18px;
                        // margin-top: 38px;
                    }

                    .worker-position {
                        color: #807d7d;
                        font-size: 14px;
                    }
                }
            }
        }

        .range-section {
            margin-top: 30px;
            position: relative;
            height: 107px;
            .container {
                align-items: center;
                display: flex;
                position: relative;
                width: 100%;

                .range__left-side {
                    height: 100%;
                    width: 0%;
                    background-color: rgba(0, 0, 0, .3);
                    overflow: hidden;
                    position: relative;
                    z-index: 2;
                }

                .range__thumb {
                    position: absolute;
                    top: 65px;
                    height: 20px;
                    width: 20px;
                    border-radius: 9999px;
                    background-color: #e60028;
                    cursor: pointer;
                }

                .range__right-side {
                    flex: 1;
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    z-index: 1;
                    background-color: rgba(0, 0, 0, .1);

                    .big-scale-line {
                        display: inline-block;
                        width: 1px;
                        height: 100%;
                        background: #d1d1d1;
                        position: absolute;
                        left: 0;
                    }

                    .zero-big-scale-line {
                        display: inline-block;
                        width: 1px;
                        height: 100%;
                        background: #d1d1d1;
                        position: absolute;
                        left: 0;
                    }
                }
            }

            .range-scale-values {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
            }
        }
    }
}

.range-section .container {
    display: flex;
    align-items: flex-end;

    .range-part {
        width: 10%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        &.inactive {
            .line {
                background: #d3d3d3 !important;
            }
        }

        &:first-child {
            &.inactive {

                &::before {
                    content: '';
                    height: 50px;
                    width: 1px;
                    background: #d3d3d3 !important;
                }
            }

            &::before {
                content: '';
                height: 50px;
                width: 1px;
                background: rgb(147,8,11);
            }
        }
    }

    .line {
        height: 50px;
        width: 1px;
        transition: 0.4s;

        &.middle-line {
            height: 36px;
        }

        &.small-line {
            height: 25px;
        }
    }

    .range-thumb {
        position: absolute;
        top: 82px;
        left: -7px;
        height: 20px;
        width: 20px;
        border-radius: 9999px;
        background-color: #e60028;
        cursor: pointer;
    }


    .rang-wrapper {
        width: calc(100% + 20px);
        margin-left: -10px;
    }

}
.range-section .range-numbers{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    .number-section{
        width: 10%;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-between;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-start;
        .number{
            display:inline-block;
            width: fit-content;
            position: relative;
        }
    }
    .number-section:first-child{
        .number{
            right: 2px;
        }
    }
    .number-section:nth-child(2){
        .number{
            right: 2px;
        }
    }
    .number-section:nth-child(3){
        .number{
            left: 2px;
        }
    }
    .number-section:nth-child(4){
        .number{
            left: 6px;
        }
    }
    .number-section:nth-child(5){
        .number{
            left: 10px;
        }
    }
    .number-section:nth-child(6){
        .number{
            left: 15px;
        }
    }
    .number-section:nth-child(7){
        .number{
            left: 19px;
        }
    }
    .number-section:nth-child(8){
        .number{
            left: 23px;
        }
    }
    .number-section:nth-child(9){
        .number{
            left: 28px;
        }
    }
    .number-section:nth-child(10){
        .number{
            left: 32px;
        }
    }
    .number-section:last-child{
        .number{
            left: 33px;
        }
    }
}
.range-section .help-txt{
    width: 60%;
    border-radius: 30px;
    background: #e60028;
    padding: 5px 5px 5px 10px;
    color: #fff;
    font-size: 11px;
    position: absolute;
    bottom: 11px;
    left: 26px;
    min-width: 224px;
}
.hidden-content{
    .slide-box{
        margin-top: 5px;
        width: 90%;
        margin-left: auto;
        position: relative;
        .slides-title{
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .swiper-container{
            .swiper-slide{
                input{
                    display: none;
                    opacity: 0;
                }
                input[type='radio']:checked + label .check-icon{
                   background-color: #9F0002;
                   transition: 1s;
                }
                input[type='radio']:checked + label .employer-label-txt{
                    text-decoration: underline;
                    text-decoration-color: #9F0002;
                    transition: 1s;
                 }
                .employer-label{
                    cursor: pointer;
                    .check-icon{
                        background-position: center;
                        background-size: contain;
                        -webkit-mask-repeat: no-repeat;
                        margin: 0 auto;
                        background-color: #d1d1d1;
                    }
                    .icon-1{
                        width: 77px;
                        height: 96px;
                        -webkit-mask-image: url(../img/scroll-icons/1.png);
                        -webkit-mask-size: 77px;
                    }
                    .icon-2{
                        width: 108px;
                        height: 96px;
                        -webkit-mask-image: url(../img/scroll-icons/2.png);
                        -webkit-mask-size: 112px;
                    }
                    .icon-3{
                        width: 50px;
                        height: 96px;
                        -webkit-mask-image: url('../img/scroll-icons/3.png');
                        -webkit-mask-size: 50px;
                    }
                    .icon-4{
                        width: 77px;
                        height: 96px;
                        -webkit-mask-image: url('../img/scroll-icons/4.png');
                        -webkit-mask-size: 77px;
                    }
                    .icon-5{
                        width: 77px;
                        height: 96px;
                        -webkit-mask-image: url('../img/scroll-icons/5.png');
                        -webkit-mask-size: 77px;
                    }
                    .employer-label-txt{
                        font-size: 11px;
                        text-align: center;
                        font-weight: 600;
                        color: #000;
                    }
                }
                .office-label{
                    cursor: pointer;
                    .check-icon{
                        width: 100px;
                        height: 100px;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .icon-1{
                        background-image: url("../img/office-scroll-icons/1.png");
                    }
                    .icon-2{
                        background-image: url("../img/office-scroll-icons/2.png");
                    }
                    .icon-3{
                        background-image: url("../img/office-scroll-icons/3.png");
                    }
                    .icon-4{
                        background-image: url("../img/office-scroll-icons/4.png");
                    }
                    .icon-5{
                        background-image: url("../img/office-scroll-icons/5.png");
                    }
                    .office-label-txt{
                        font-size: 11px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 430px){
    @media (max-width: 430px){
        .range-section .range-numbers .number-section{
            width: 9%;
        }
        .range-section .range-numbers .number-section:nth-child(3) .number{
            left: 1px;
        }
        .range-section .range-numbers .number-section:nth-child(4) .number{
            left: 5px;
        }
        .range-section .range-numbers .number-section:nth-child(5) .number{
            left: 7px;
        }
        .range-section .range-numbers .number-section:nth-child(6) .number{
            left: 12px;
        }
        .range-section .range-numbers .number-section:nth-child(7) .number{
            left: 16px;
        }
        .range-section .range-numbers .number-section:nth-child(8) .number{
            left: 20px;
        }
        .range-section .range-numbers .number-section:nth-child(9) .number{
            left: 24px;
        }
        .range-section .range-numbers .number-section:nth-child(10) .number{
            left: 27px;
        }
        .range-section .range-numbers .number-section:last-child .number{
            left: 27px;
        }
    }
}

@media (max-width: 380px){
    .range-section .range-numbers .number-section{
        width: 9%;
    }
    .range-section .range-numbers .number-section:nth-child(4) .number{
        left: 4px;
    }
    .range-section .range-numbers .number-section:nth-child(5) .number{
        left: 6px;
    }
    .range-section .range-numbers .number-section:nth-child(6) .number{
        left: 11px;
    }
    .range-section .range-numbers .number-section:nth-child(7) .number{
        left: 14px;
    }
    .range-section .range-numbers .number-section:nth-child(8) .number{
        left: 17px;
    }
    .range-section .range-numbers .number-section:nth-child(9) .number{
        left: 21px;
    }
    .range-section .range-numbers .number-section:nth-child(10) .number{
        left: 24px;
    }
    .range-section .range-numbers .number-section:last-child .number{
        left: 23px;
    }
}